html{
    min-height: 100vh;
}
body{
    
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
   background-repeat: no-repeat;
   background-size: cover;
   margin:0;
   padding:0;
}

.navbar
{
    flex-grow: 1;
}
.navbar ul 
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.navbar ul a
{
    padding:20px;
    text-decoration: none;
    color: white;
}
header
{
    display: flex;   
}
.pic
{
    margin-top: 100px;   
    display: flex;
    justify-content: space-around;
}
.pic img
{
    
  max-width: 800px;  
  align-items: center;
}