<link rel="stylesheet" href="/css/aboutme.css">
<div id="main">
    <h2 class="title">About me</h2>'
     <div class="container">
     <div class="about-me">
            
        </div>
    <div class="box">
       
        <div>
            <img src="/img/code-from-pixabay.jpg" alt="Software Engineering Student">
            <h2>Software Engineering Student</h2>
            <p>
                I am currently studying at Jönköping University, pursuing a degree in Software Engineering. My academic
                journey involves delving into the intricacies of object-oriented programming and web development.
            </p>
        </div>

        <div>
            <img src="/img/001_ryhov.jpg" alt="Property Manager">
            <h2>Property Manager at Ryhov</h2>
            <p>
                My job is very diverse but my main taks is to drive a truck and collect all the items which is in the
                basement level 2 at the hospital and give service to every department so the everyday maintence is very
                good otherwise it can become alot as it is the regionos biggest hospital.
            </p>
        </div>
        </div>
    </div>
</div>