<link rel="stylesheet" href="/css/aboutme.css">
<div id="main">
<div class="box">
            <div>
                <img src="/img/code-from-pixabay.jpg" alt="Software Engineering Student">
                <h2>Software Engineering Student</h2>
                <p>
                    I am currently studying at Jönköping University, pursuing a degree in Software Engineering. My academic journey involves delving into the intricacies of object-oriented programming and web development. I am passionate about solving complex problems through logical thinking and creating innovative solutions using the latest technologies and frameworks.
                </p>
            </div>

            <div>
                <img src="/img/001_ryhov.jpg" alt="Property Manager">
                <h2>Property Manager at Ryhov</h2>
                <p>
                    As a property manager at Ryhov, I manage various tasks, including driving a truck to dispose of items in the basement. Each day presents new challenges, requiring a problem-solving attitude. I coordinate property maintenance, ensure compliance with health and safety standards, and handle tenant inquiries. The dynamic nature of the role keeps me engaged, and I thrive in finding effective solutions to diverse challenges.
                </p>
            </div>
        </div>
</div>
