<link rel="stylesheet" href="/css/contact.css">
<div id="main">
        <h1>Contact Information</h1>
        <address>
            <p>Name: Nasir Jama Elmi</p>
            <p>Address: Kärrhöksgatan 62, Jönköping, 55612</p>
            <p>Phone: 073-940-16-97</p>
            <p>Email: <a href="mailto:Nasirjamaelmi@outlook.com">Nasirjamaelmi@outlook.com</a></p>
        </address>
</div>