<link rel="stylesheet" href="/css/home.css">
<div id="main">
    <div>

        <div id="section_pic-container">
            <img src="/img/CvPicSquare.jpg" alt="Nasir jama elmi">
        </div>
        <div id="section_text">
            <p id="section_text_p1">Hello, I'm</p>
            <h1 id="title">Nasir jama elmi</h1>
            <p class="section_text_p2">Software engineering student</p>
            <div class="btn-container" id="buttoncontainer">
                <button class="btn btn-color-2" id="button-home-1" onclick="window.open('/cv/CV.pdf')">Download CV</button>
                <button class="btn btn-color-1" id="button-home-2" onclick="location.href='/contact'">Contact Info</button>
            </div>
        </div>
    </div>
</div>
