<link rel="stylesheet" href="/css/skills.css">
<div class="skills-container" id="main">
        <h1>Skills</h1>
        <ul class="skills-list">
            {{#each skillsData}}
                <li>{{this.skill_name}}</li>
            {{/each}}
        </ul>
    </div>  