@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}
/* Backgroundpic is from this url where it is use safe to use for non-commercial reason
link is here https://pixabay.com/sv/photos/vattenf%C3%A4rg-m%C3%A5lning-f%C3%A4rgrik-konst-2681039/ */
body{

    background: url("img/watercolor-2681039_1920.jpg"), none;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
nav{
    background-color: black;
    min-height: 60px;
    padding-top: 1%;
}
ul{
    margin-left: 20%;
}
li
{
    display: inline;
    padding: 5%;
}
a{
    text-decoration: none;
    color: white;
}
.cv
{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    
}
.cv img
{
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
    
}
.name
{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 2%;
    color: white;
    
}
.contact{

   
   display: block;
   align-items: center;
   justify-content: center;
   margin-top: 2%;
   color: white;
  
}
.mail
{
   
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;   
}
.phone
{
   display: flex;
   justify-content: left;
   font-size: 30px;
   margin-left: 5%;
   color: white;
    
}
#phone
{ 
    font-size: 40px;
    margin-right: 20px;
}
#mail
{
    font-size: 40px;
    margin-right: 20px;
}
#div-phone
{
    margin-left: 40%;
}
.title
{
    display: flex;
    justify-content: center;
    
    
}
.school
{
   margin-top: 5%;
   margin-left: 3%;
   color: white;

}
.ed
{
    
    justify-content: center;
    display:flex;   
    color: white;
    margin-top: 2%;
    
}
.school-title
{
    font-size: 30px;
    margin-bottom: 10px;
}
.computer-skills li
{
    display: block;
    padding: 0;
    color: white;
    margin-top: 1%;
    
}
.bar-container
{
  
    width: 40%;
    height: 30px;
    display: flex;
    background-color: white;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    

}
.bar
{
    
    background-color:  rgb(116, 194, 92);;
    color: white;
    border-radius: 15px;
    text-align :end;
    font-size: 20px;
}
#bar-1
{
    width: 60%;
}
#bar-2
{
    width: 90%;
}
#bar-3
{
    width: 70%;
}
#bar-4
{
    width: 100%;
}
#bar-5
{
    width: 10%;
}
#bar-6
{
    width: 90%;
}
#bar-7
{
    width: 100%;
}
#bar-8
{
    width: 90%;
}
#bar-9
{
    width: 40%;
}
#bar-10
{
    width: 80%;
}
#swedish
{
    width: 100%;
    text-align: center;
}
#english
{
    width: 90%;
    text-align: center;
}
#somali
{
    width: 50%;
    text-align: center;
}
#spanish
{
    width: 20%;
    text-align: center;
}
#lang
{
   margin-top: 5%;
}
#lang li{
    margin-top: 2%;
}