<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio Nasir</title>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="/css/main.css">
        
        
    </head>
    <body>
        <div class="container">
           <div class="columns">
                <div class="column col-12 col-md-12 col-sm-12">
                    {{> menu}}
                    {{{body}}}
                </div>
            </div>
        </div>
    </body>
</html>
    