.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .title{
    text-align: center;
    padding-bottom: 5rem;
  
 }
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    
}

.box div {
    
    max-width: 500px; /* Adjust the width as needed */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10%; /* Make the image round */
    padding: 10px; /* Add padding for a nicer appearance */
}

@media screen and (max-width: 1200px) {
   

        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;    
        }

}
