* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}

#main {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 96px;
    margin-top: 32px;
    box-sizing: content-box;
    /*border: 3px solid gray;*/
}

.card {
    display: flex;
    border: 1px solid;
    border-color: rgb(163, 163, 163);
    border-radius: 2rem;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 8px;
    flex: 1;
    padding: 1.5rem;


}

.img-responsive {
    max-width: 30vw;
    padding: 8px;
    border-radius: 16px;
    background-color: white;
    box-sizing: border-box;
}

.padding {
    padding: 8px;
    box-sizing: border-box;
}

.navbar {
    margin-left: 20%;
    list-style-type: none;
    width: 50%;
}

.navbar-li {
    margin-left: 10%;
    width: 100%;
    list-style-type: none;
}
#menu a {
    color: black;
    
  }


.login-button {
    padding-left: 20%;
}

.card-img {
    width: 200px;

}